<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action 'close'}}>&times;</button>
        <h1 class="modal-title">{{title}}</h1>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
      {{#if ok}}
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'close'}}>{{#if closeText}}{{closeText}}{{else}}Close{{/if}}</button>
        <button type="button" class='btn btn-primary {{btnClass}}' {{action 'ok'}}>{{okText}}</button>
      </div>

      {{/if}}
    </div>
  </div>
</div>
