		<section>
		{{#if isCurrentUserOwner}}
		<div class='editable-in-place'>
			<span class="control-label not-real-label">&darr; Tap to edit title</span>
			{{#if isTitleEditing}}
				<div class="input-group input-group-lg">
				{{focus-input class="edit title form-control" value=model.title focus-out="acceptTitleChanges" insert-newline="acceptTitleChanges" id="edit-title"}}
				</div>
			{{else}}
				{{#view "edit-in-place" targetAction='editTitle'}}
				<h1 id="edit-title">{{model.title}}</h1>
				{{/view}}
			{{/if}}
		</div>
		{{else}}
			<h1>{{model.title}}</h1>
		{{/if}}


		<p>Created by {{#link-to 'user' model.user.id}}{{user.full_name}}{{/link-to}}, {{ago created_at}}</p>

	

		{{#if isCurrentUserOwner}}
     		<a class="btn btn-danger" data-toggle="modal" {{action 'openModal' 'modals/delete-list' model}}>{{fa-icon 'trash'}} Delete</a>
		{{/if}}
		</section>
		

		<section>
		<label for='list-url' class="control-label ">Shareable URL</label>
	    <div class="input-group input-group-lg">
	      {{focus-input type="search" value=listURL class='form-control' id='list-url' readonly='readonly'}}
	      <span class="input-group-btn">
	        <a class="btn btn-primary" {{bind-attr href='mailto'}}>{{fa-icon "envelope"}}</a>
	      </span>
	    </div>
		</section>

		<section class="playlist-desc">
			{{#if isCurrentUserOwner}}
			<div class='editable-in-place'>
				<span class="control-label not-real-label">&darr; Tap to edit description</span>
				{{#if isDescEditing}}
					{{focus-textarea class="edit desc form-control" value=model.description focus-out="acceptDescChanges" insert-newline="acceptDescChanges" id="edit-desc" rows='4'}}
				{{else}}
					{{#view "edit-in-place" targetAction='editDesc'}}
					<p id="edit-title">
						{{#if model.description}}
							{{model.description}}
						{{else}}
							<em>No description.</em>
						{{/if}}
					</p>
					{{/view}}
				{{/if}}
			</div>
			{{else}}
				<p>{{model.description}}</p>

			{{/if}}

		</section>

		{{#if clipCount}}
     		<a class="btn btn-primary" {{action 'playAll'}}>{{fa-icon 'play'}} Play All</a>
		{{/if}} &nbsp; {{clipCount}} clips, {{pretty-duration totalDuration}}
		

		{{#if isCurrentUserOwner}}
		<div class="orderable-items">		

		{{#ivy-sortable items moved="movedItem"}}  {{!-- in items itemController="item" --}} 
        	item id: <em>{{this.id}}</em> &middot; position: <em>{{position}}</em> 
        	<button {{action 'removeItem' this}}>{{fa-icon 'trash'}}</button>
        	{{!-- 
			We have a nested each here -- it seems that if we do that, we can resolve the promise OK
			If we try to resolve it in the controller, it freaks out badly. 
			Oh well, this isn't too terrible.
        	--}}

        	{{render 'item' this}}
 	

 			
		{{/ivy-sortable}}



		</div>
		{{else}}
			<ul class='item-list'>
			{{#each item in items itemController="item"}}
	 			{{#each clip in item.clip}}
					<ul class='inline-clip'>{{render 'short-clip' clip}}</ul>
	 			{{/each}} 			
			{{/each}}
			</ul>
		{{/if}}
