		<section>
		{{#if isCurrentUserOwner}}
		<div class='editable-in-place'>
			<span class="control-label not-real-label">&darr; Tap to edit title</span>
			{{#if isTitleEditing}}
				<div class="input-group input-group-lg">
				{{focus-input class="edit title form-control" value=model.title focus-out="acceptTitleChanges" insert-newline="acceptTitleChanges" id="edit-title"}}
				</div>
			{{else}}
				{{#view "edit-in-place" targetAction='editTitle'}}
				<h1 id="edit-title">{{model.title}}</h1>
				{{/view}}
			{{/if}}
		</div>
		{{else}}
			<h1>{{model.title}}</h1>
		{{/if}}


		<p>Created by {{#link-to 'user' model.user.id}}{{model.user.full_name}}{{/link-to}}, {{ago model.created_at}}</p>

		{{#if isCurrentUserOwner}}
     		<a class="btn btn-danger" data-toggle="modal" {{action 'openModal' 'modals/delete-list' model}}><i class="icon-trash" aria-hidden="true"></i> Delete</a>
		{{/if}}
		</section>
		

		<section>
		<label for='list-url' class="control-label ">Shareable URL</label>
	    <div class="input-group input-group-lg">
	      {{focus-input type="search" value=listURL class='form-control' id='list-url' readonly='readonly'}}
	      <span class="input-group-btn">
	        <a class="btn btn-primary" href={{mailto}}><i class="icon-envelope" aria-hidden="true"></i></a>
	      </span>
	    </div>
		</section>

		<section class="playlist-desc">
			{{#if isCurrentUserOwner}}
			<div class='editable-in-place'>
				<span class="control-label not-real-label">&darr; Tap to edit description</span>
				{{#if isDescEditing}}
					{{focus-textarea class="edit desc form-control" value=model.description focus-out="acceptDescChanges" insert-newline="acceptDescChanges" id="edit-desc" rows='4'}}
				{{else}}
					{{#view "edit-in-place" targetAction='editDesc'}}
					<p id="edit-title">
						{{#if model.description}}
							{{model.description}}
						{{else}}
							<em>No description.</em>
						{{/if}}
					</p>
					{{/view}}
				{{/if}}
			</div>
			{{else}}
				<p>{{model.description}}</p>

			{{/if}}

		</section>

		{{#if clipCount}}
     		<a class="btn btn-primary" {{action 'playAll'}}><i class="icon-play" aria-hidden="true"></i> Play All</a>
		{{/if}} &nbsp; {{clipCount}} clips, {{pretty-duration totalDuration}}
		

		{{#if isCurrentUserOwner}}

		<div class="playlist-items orderable">		
		<span class="control-label not-real-label">&darr; Drag to reorder</span>


		{{#collection "ivy-sortable" content=items moved="movedItem" axis='y' opacity="0.7"}}
		
        	{{!-- item id: <em>{{this.id}}</em> &middot; position: <em>{{position}}</em>  --}}
        	
        	<a {{action 'removeItem' this}} class='remove-item btn btn-default'><i class="icon-trash" aria-hidden="true"></i></a>

        	{{render 'item' this}}
		{{/collection}}



		</div>
		{{else}}

		<div class="playlist-items">		
			{{#each model.items as |item|}} {{! itemController="item"  !}}
				{{!-- {{log item.apm_audio}} --}}

				<ul class='inline-clip'>{{audio-item clip=item.clip}}</ul>		
			{{/each}}
		</div>
		{{/if}}
