		<h1>{{model.title}}</h1>

		<p>Created by {{#link-to 'user' model.user}}{{user.full_name}}{{/link-to}}, {{ago created_at}}</p>

	

		{{#if isCurrentUserOwner}}
     		<a class="btn btn-danger" data-toggle="modal" {{action 'openModal' 'modals/delete-list' model}}>{{fa-icon 'trash'}} Delete</a>
		{{/if}}

		<section>
		<label for='list-url' class="control-label ">Shareable URL</label>
	    <div class="input-group input-group-lg">
	      {{focus-input type="search" value=listURL class='form-control' id='list-url' readonly='readonly'}}
	      <span class="input-group-btn">
	        <a class="btn btn-primary" {{bind-attr href='mailto'}}>{{fa-icon "envelope"}}</a>
	      </span>
	    </div>
		</section>

		<section>
			<p>{{model.description}}</p>
		</section>

		{{#if clipCount}}
     		<a class="btn btn-primary" {{action 'playAll'}}>{{fa-icon 'play'}} Play All</a>
		{{/if}} &nbsp; {{clipCount}} clips, {{pretty-duration totalDuration}}
		
		<ul class='item-list'>
			
		{{#each item in items itemController="item"}}
        	item id: <em>{{item.id}}</em> &middot; position: <em>{{item.position}}</em>
        	{{!-- 
			We have a nested each here -- it seems that if we do that, we can resolve the promise OK
			If we try to resolve it in the controller, it freaks out badly. 
			Oh well, this isn't too terrible.
        	--}}
 			{{#each clip in item.clip}}
 				{{render 'short-clip' clip}}
 			{{/each}}
		{{/each}}
		
		</ul>
