<li class='item'>    
      <a class='item-icon clickable playlist' href="#" {{action 'playAll'}}> </a>
      <div class='item-info' {{action 'goToList' model on='click' bubbles=false}}>
          {{#link-to 'lists.list' model}} 
        <h3>{{model.title}}</h3>
        <span class='author'>by {{!#link-to 'user' user}}{{model.user.full_name}}{{!/link-to}}</span><br />
        {{clipCount}} clips, {{pretty-duration totalDuration}}
         {{/link-to}}

        {{#if isCurrentUserOwner}}
            &nbsp; <a class="clickable remove-list" data-toggle="modal" {{action 'openModal' 'modals/delete-list' model bubbles=false}}><i class="icon-trash" aria-hidden="true"></i></a>
        {{/if}}
    </div>
</li>