		<h1>{{model.title}}</h1>

		<p>by {{#link-to 'user' model.user}}{{user.full_name}}{{/link-to}}</p>

		{{#if isCurrentUserOwner}}
     		<a class="btn btn-danger" data-toggle="modal" {{action 'openModal' 'modals/delete-list' model}}>{{fa-icon 'trash'}} Delete playlist</a>

		{{/if}}

		<p>{{model.description}}</p>

		{{clipCount}} clips, {{pretty-duration totalDuration}}
		
		<ul class='item-list'>
			{{log clips}}

		{{#each clip in clips}}
	        {{render 'short-clip' clip}}
		{{else}}
			<li>No audio clips yet.</li>
		{{/each}}
		</ul>
