<li class='item'>    
      <a class='item-icon clickable playlist' href="#" {{action 'playAll'}}> </a>
      <div class='item-info'>
          {{#link-to 'lists.list' list}} 
        <h3>{{title}}</h3>
        <span class='author'>by {{!#link-to 'user' user}}{{user.full_name}}{{!/link-to}}</span><br />
        {{clipCount}} clips, {{pretty-duration totalDuration}}
         {{/link-to}}

        {{#if isCurrentUserOwner}}
            &nbsp; <a class="clickable" data-toggle="modal" {{action 'openModal' 'modals/delete-list' model}}>{{fa-icon 'trash'}}</a>
        {{/if}}
    </div>
</li>