		<h1>{{model.title}}</h1>

		<p>by {{#link-to 'user' model.user}}{{user.full_name}}{{/link-to}}</p>


		<p>{{model.description}}</p>

		{{clipCount}} clips, {{pretty-duration totalDuration}}
		
		<ul class='item-list'>
			{{log model.list_items}}
		{{#each item in model.list_items}}
			{{item}}

			{{item.apm_audio}}
	        {{!render 'short-clip' item}}
		{{else}}
			<li>No audio clips yet.</li>
		{{/each}}
		</ul>
