


<section class='clip-detail-header'> 

	<a {{action 'play'}} class='item-icon clip clickable'> </a> 

	<div class='item-info'>
		<h1>{{title}}</h1>
        <span class='duration'>{{pretty-duration duration}}</span><br />
        Published {{prettyDate}} 
	</div>

</section>

<section>
	<p>{{newline-ify description}}</p>
</section>

<section>
	{{#if session.isAuthenticated}}
     <a class="btn btn-primary" data-toggle="modal"  {{action 'openModal' 'modals/add-clip' model lists}}><i class="icon-plus" aria-hidden="true"></i> Add to playlist</a>
{{else}}
	<strong>Please {{#link-to 'login'}}log in{{/link-to}} to add this to a playlist.</strong>
{{/if}}</section>