<h2>List of audio</h2>

{{input type="search" value=searchTerm placeholder="Filter audio"}}<br />

<ul class='item-list'>

{{#if filteredAudio}}
	{{#each audio in filteredAudio}}
		{{render 'short-audio' audio}}
	{{/each}}
{{ else }}
	{{#each audio in pagedContent}}
		{{render 'short-audio' audio}}
	{{/each}}
{{/if}}

{{#if showPaging}}
	{{#if pagedContent}}
		{{page-numbers content=pagedContent}}
	{{/if}}
{{/if}}

</ul>