<h2>List of audio</h2>

{{input type="search" value=searchTerm placeholder="Filter audio"}}<br />

<ul>

{{#if filteredAudio}}
	{{#each audio in filteredAudio}}
		{{partial 'short-audio' audio}}
	{{/each}}
{{ else }}
	{{#each audio in pagedContent}}
		{{render 'short-audio' audio}}
	{{/each}}
{{/if}}

{{#if pagedContent}}
	{{page-numbers content=pagedContent}}
{{/if}}


</ul>