<h1>{{title}}</h1>

<a {{action 'play'}} class='play clickable'>{{fa-icon "play"}} Play audio</a><br /><br />

<dl>
	<dt>Duration</dt>
	<dd><p>{{pretty-duration duration}}</p></dd>

	<dt>Published</dt>
	<dd><p>{{ago pub_date}}</p></dd>

	<dt>Description</dt>
	<dd><p>{{description}}</p></dd>

	<dt>Notes</dt>
	<dd><p>{{notes}}</p></dd>

	<dt>APM Audio</dt>
	<dd>{{apm_audio}}</dd>
</dl>

{{#if session.isAuthenticated}}
	{{view "select" content=lists
		optionValuePath="content.id"
		optionLabelPath="content.title"
		prompt="Add to list"
		value=selectedList
	}}
	&nbsp; {{message}}
{{else}}
	<strong>Please {{#link-to 'login'}}log in{{/link-to}} to add to a list</strong>
{{/if}}