		<h2>{{title}}</h2>

		{{clipCount}} items, {{totalDuration}}
		
		<ul class='item-list'>
		{{#each clip in model.clips}}
			{{render 'short-clip' clip}}
		{{else}}
			<li>No audio clips yet.</li>
		{{/each}}
		</ul>
