		<h1>{{title}}</h1>

		{{clipCount}} clips, {{pretty-duration totalDuration}}
		
		<ul class='item-list'>
		{{#each clip in model.clips}}
			{{short-clip clip=clip}}
		{{else}}
			<li>No audio clips yet.</li>
		{{/each}}
		</ul>
