<li class='item'>    
      {{#link-to 'playlist' playlist class='item-icon clickable'}}  &nbsp; {{/link-to}}
      <div class='item-info'>


        <h3>{{title}}</h3>
        <span class='author'>by {{#link-to 'user' playlist.user}}{{user.first_name}} {{user.last_name}}{{/link-to}}</span><br />
        {{clipCount}} clips, {{pretty-duration totalDuration}}
    </div>
</li>