
<section {{bind-attr class=":user-header isLoggedInUser"}}>
    {{gravatar-image hash=model.gravatar size='200' class=''}}  
    <h1>{{model.user.full_name}}</h1>

    {{#if isLoggedInUser}}
        {{#if session.isAuthenticated}}     
          <a {{ action 'invalidateSession' }} class='btn btn-primary'>Sign out</a>
        {{/if}}
    {{/if}}
  

</section>

<section class='playlist-index-header'>
           <h2>{{ownerApos}} Playlists</h2>

      {{#if isLoggedInUser}}
        <a class="btn btn-primary" data-toggle="modal" {{action 'openModal' 'modals/create-list'}}>Create new playlist</a>
    {{/if}}
</section>



<section>
    <ul class='item-list'>
    {{#each list in model.lists}} 
        {{render 'lists/list' list}}
    {{/each}}
    </ul>
</section>