{{gravatar-image hash=model.gravatar size='200'}}  <h1>{{model.full_name}}</h1>


<h2>{{ownerApos}} Playlists</h2>
<ul class='item-list'>
{{#each playlist in playlists}}
    <li class='item'>    
        {{#link-to 'playlist' playlist class='item-icon clickable'}}  &nbsp; {{/link-to}}

        <div class='item-info'>
          <h3>{{playlist.title}}</h3>
          <span class='author'>by <a href=''>Null Voider</a></span><br />
          {{playlist.clipCount}} clips, {{pretty-duration playlist.totalDuration}}
      </div>
  </li>
{{/each}}
</ul>